<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNUh5ea53fhcFW6fbXp9F4W3ezUE_RnaI</string>
	<key>GCM_SENDER_ID</key>
	<string>44584806569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>personalised-app-abaad</string>
	<key>STORAGE_BUCKET</key>
	<string>personalised-app-abaad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44584806569:ios:a59dd16dedd1cb935be1b8</string>
</dict>
</plist>